<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My web app</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Welcome back to HTML!</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">My Portfolio</a></li>
        <li><a href="/about_me">About me</a></li>
    </ul>

    <img src="/static/img/logo.png" alt="Smart Ninja">

    <br>
    <br>

    <a href="https://www.youtube.com">Idi na Youtube</a>
</body>
</html>